{% extends "base.html" %}

{% block title %}
  {% if object %}
    Edit course "{{ object.title }}"
  {% else %}
    Create a new course
  {% endif %}
{% endblock %}

{% block content %}
<div class="container px-lg-5">
  <div class="row mx-lg-n5">
      <div class="col py-3 px-lg-5 border bg-light">
        <h1>
          {% if object %}
            Edit course "{{ object.title }}"
          {% else %}
            Create a new course
          {% endif %}
        </h1>
        <form action="." method="post">
          {{ form.as_p }}
          {% csrf_token %}
          <input class="btn btn-primary" type="submit" value="Save course">
        </form>
    </div>
  </div>
</div>
{% endblock %}