{% extends "base.html" %}

{% block title %}My courses{% endblock %}

{% block content %}
<div class="container px-lg-5">
  <div class="row mx-lg-n5">
    <div class="col py-3 px-lg-5 border bg-light">
      <h1>My courses</h1>
      <div class="row mb-3">
        {% for course in object_list %}
        <div class="col-md-6 border px-lg-5">
          <h3 class="mb-0">{{ course.title }}</h3>
          <div class="mb-1 text-muted">{{ course.slug }}</div>
            <p>
              <a role="button" class="btn btn-primary" href="{% url "course_edit" course.id %}">Edit</a>
              <a rolee="button" class="btn btn-primary" href="{% url "course_delete" course.id %}">Delete</a>
              <a role="button" class="btn btn-primary" href="{% url "course_module_update" course.id %}">Edit modules</a>
              {% if course.modules.count > 0 %}
              <a role="button" class="btn btn-primary" href="{% url "module_content_list" course.modules.first.id %}">Manage contents</a>
              {% endif %}
            </p>
          </div>
        {% empty %}
        <p>You haven't created any courses yet.</p>
        {% endfor %}
      </div>
      <br>
      <a role="button" class="btn btn-primary" href="{% url "course_create" %}" class="button">Create new course</a>
    </div>
  </div>
</div>
  

        {% endblock %}