{% extends "base.html" %}

{% block title %}
    {% if subject %}
        {{ subject.title }} courses
    {% else %}
        All courses
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container px-lg-5">
        <div class="row mx-lg-n5">
            <div class="col py-3 px-lg-5 border bg-light">
                <h1>Subjects</h1>
                    <div class="row mb-3">
                        <div class="col-md-6 border px-lg-5">
                            <a href="{% url "course_list" %}">All</a><br>
                        </div>
                        {% for s in subjects %}
                        <div class="col-md-6 border px-lg-5">
                            <a href="{% url "course_list_subject" s.slug %}">{{ s.title }} | {{ s.total_courses }} courses</a>
                        </div>
                        {% endfor %}
                    </div>
                <h1>
                    {% if subject %}
                        {{ subject.title }} courses
                    {% else %}
                        All courses
                    {% endif %}
                </h1>
                <div class="row mb-3">
                    {% for course in courses %}
                    <div class="col-md-6 border px-lg-5">
                        {% with subject=course.subject %}
                            <h3><a href="{% url "course_detail" course.slug %}">
                            {{ course.title }}</a></h3>
                            <p>
                                <a href="{% url "course_list_subject" subject.slug %}">
                                {{ subject }}</a> |
                                {{ course.total_modules }} modules |
                                Instructor: {{ course.owner.get_full_name }}
                            </p>
                        {% endwith %}
                    </div>
                    {% endfor %}
                </div>
                <h1>Announcements</h1>
                    <div class="row mb-3">
                        <div class="col-md-6 border px-lg-5">
                        </div>
                        <div class="col-md-6 border px-lg-5">
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}