{% extends "base.html" %}

{% block title %}
    {{ assignment.title }}
{% endblock %}

{% block content %}

  
<div class="container px-lg-5">
  <div class="row mx-lg-n5">




    <div class="col py-3 px-lg-5 border bg-light">
      <h1>Assignments</h1>
      <div class="row mb-3">

<table class="col py-3 px-lg-5 border bg-light">
    <tr>
        <td>Student</td>
    {% for assignment in course.assignments.all %}

<td>{{ assignment.title }}</td>


{% endfor %}
        <td>Assignment Grade</td>


    </tr>

{% for student, grade in studentgrades.items %}
    <tr>
        <td>{{student}}</td>
        <td>{{ grade.0 }}      </td>
        {% if grade.0 == "(0/0) -" %}
<td><a role="button" class="btn btn-primary" href="{% url "student_assignment_grade_create" pk assignment.id student.id %}">Grade</a>
        {% else %}
<td><a role="button" class="btn btn-primary" href="{% url "student_assignment_grade_update" pk assignment.id student.id %}">Change Grade</a>
    {% endif %}
</td>

        </tr>
    {% endfor %}

</table>

    </div>
  </div>
</div>
{% endblock %}