{% extends "base.html" %}
{% load course %}

{% block title %}
  Module {{ module.order|add:1 }}: {{ module.title }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col border bg-light">
      {% with course=module.course %}
        <h1>Course "{{ course.title }}"</h1>
        <div class="border">
            <h3>Modules</h3>
              {% for m in course.modules.all %}
              <div class="col border">
                  <a href="{% url "module_content_list" m.id %}">
                      Module <span class="order">{{ m.order|add:1 }} | {{ m.title }}
                  </a>
              </div>
              {% empty %}
              <div class="col border">
              No modules yet.
              </div>
              {% endfor %}
              <br>
              <a role="button" class="btn btn-primary" href="{% url "course_module_update" course.id %}">Edit modules</a>
        </div>
        <br>
        <br>
        <div class="border">
          <h2>Module {{ module.order|add:1 }}: {{ module.title }}</h2>
          <h3>Module contents:</h3>

          <div id="module-contents">
            {% for content in module.contents.all %}
              <div data-id="{{ content.id }}">
                {% with item=content.item %}
                <div class="col border">
                  <div class="row">
                  <p>{{ item }} ({{ item|model_name }})</p>
                  </div>
                  <div class="row">
                    <a role="button" class="btn btn-primary" href="{% url "module_content_update" module.id item|model_name item.id %}">Edit</a>
                    <form style="padding-left: 5px" action="{% url "module_content_delete" content.id %}" method="post">
                      <input class="btn btn-primary" type="submit" value="Delete">{% csrf_token %}</form>
                  </div>
                </div>
                <br>
              </div>
                {% endwith %}
            {% empty %}
            <div class="col border">
              This module has no contents yet.
            </div>
            {% endfor %}
          </div>

          <h3>Add new content:</h3>
            <a role="button" class="btn btn-primary" href="{% url "module_content_create" module.id "text" %}">
            Text</a>
            <a role="button" class="btn btn-primary" href="{% url "module_content_create" module.id "image" %}">
            Image</a>
            <a role="button" class="btn btn-primary" href="{% url "module_content_create" module.id "video" %}">
            Video</a>
            <a role="button" class="btn btn-primary" href="{% url "module_content_create" module.id "file" %}">
            File</a>
            <a role="button" class="btn btn-primary" href="{% url "module_content_create" module.id "module_assignment" %}">
            Assignment</a>
              <a role="button" class="btn btn-primary" href="{% url "module_content_create" module.id "announcement" %}">
            Announcement</a>
        </div>
      {% endwith %}
    </div>
  </div>
</div>
{% endblock %}

{% block domready %}
$('#modules').sortable({
    stop: function(event, ui) {
        modules_order = {};
        $('#modules').children().each(function(){
            // update the order field
            $(this).find('.order').text($(this).index() + 1);
            // associate the module's id with its order
            modules_order[$(this).data('id')] = $(this).index();
        });
        $.ajax({
            type: 'POST',
            url: '{% url "module_order" %}',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
               data: JSON.stringify(modules_order)
           });
    }
});

$('#module-contents').sortable({
    stop: function(event, ui) {
        contents_order = {};
        $('#module-contents').children().each(function(){
            // associate the module's id with its order
            contents_order[$(this).data('id')] = $(this).index();
        });

        $.ajax({
            type: 'POST',
            url: '{% url "content_order" %}',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: JSON.stringify(contents_order),
        });
    }
});
{% endblock %}