{% extends 'lms/base.html' %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-primary">
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h1 style="padding-left: 15Px">Assignment Summary</h1>
</div>

    <div class="row">
        <table class="table">
            <thead>
            <tr class="bg-info">
                <th>Assignment Name</th>
                <th>Description</th>
                <th>Points</th>
                <th>Course</th>
                <th>Created</th>
                <th>Released</th>
                <th>Due</th>

            </tr>
            </thead>
            <tbody>
            {% for assignment in assignments %}
                <tr>
                    <td>{{ assignment.assignment_name }}</td>
                    <td>{{ assignment.a_description }}</td>
                    <td>{{ assignment.assignment_points}}</td>
                    <td>{{ assignment.course_id}}</td>
                    <td>{{ assignment.created_date}}
                    <td>{{ assignment.release_date}}</td>
                    <td>{{ assignment.due_date}}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>










{% endblock %}
