{% extends 'lms/base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Canvas Lite</title>
</head>
<body>
    <div>
        <h2>Recent Announcements</h2>
        <p>Sample announcements...maybe? To be determined if this should even be here</p>
    </div>

    <!-- This is where calendar stuff should go -->

    <div class="caption">
        <h2>View Courses</h2>
        <p>View currently enrolled courses</p>
         <p><a class="btn btn-primary" href="{% url 'lms:course_list' %}"
              role="button">View details &raquo;</a></p>
    </div>
    <div class="caption">
        <h2>View Assignments</h2>
        <p>View current assignments</p>
        <p><a class="btn btn-primary" href="{% url 'lms:assignment_list' %}"
              role="button">View details &raquo;</a></p>
    </div>
    <div class="caption">
        <h2>View Announcements</h2>
        <p>View new announcements</p>
        <p><a class="btn btn-primary" href="{% url 'lms:announcement_list' %}"
              role="button">View details &raquo;</a></p>
    </div>
</body>
</html>
{% endblock %}