<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Canvas Lite</title>
</head>
<body>
    <div>
        <h2>Recent Announcements</h2>
        <p>Sample announcement</p>
    </div>

    <!-- This is where calendar stuff should go -->

    <div class="caption">
        <h2>Create/Edit Assignment</h2>
        <p>Create Assignment or Edit Existing Assignment </p>
        <p><a class="btn btn-primary" href="{% url '' %}"
              role="button">View details &raquo;</a></p>
    </div>
    <div class="caption">
        <h2>Create/Edit Announcement</h2>
        <p>Create Announcement or Edit Existing Announcement </p>
        <p><a class="btn btn-primary" href="{% url '' %}"
              role="button">View details &raquo;</a></p>
    </div>
</body>
</html>