{% extends "base.html" %}

{% block title %}My courses{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col border">
            <h1>My courses</h1>
            <br>
            <div class="row">
                {% for course in object_list %}
                    <div class="col border">
                        <h3>{{ course.title }}</h3>
                        <p><a role="button" class="btn btn-primary" href="{% url "student_course_detail" course.id %}">Access contents</a></p>
                    </div>
                <br>
                {% empty %}
                    <p>
                        You are not enrolled in any courses yet.
                        <a href="{% url "course_list" %}">Browse courses</a> 
                        to enroll in a course. 
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}s